<div>
    <form action="@Url.Action("DatosContacto", "Form")" method="post">
        <label for="formControlInput" class="form-label">Nombre</label>
<input type="text" class="form-control" id="formControlInput" name="nombre" value="Mathias" placeholder="Nombre">
        <label for="formControlInput" class="form-label">Apellido</label>
<input type="text" class="form-control" id="formControlInput" name="apellido" value="Benvenuto" placeholder="Apellido">
        <label for="formControlInput" class="form-label">Celular</label>
<input type="tel" class="form-control" id="formControlInput" name="telefono" value="1122549708" placeholder="112349843">
        <label for="formControlInput" class="form-label">Email</label>
<input type="email" class="form-control" id="formControlInput" name="email" value="mathiasdvt7@gmail.com" placeholder="name@example.com">
        <label for="formControlInput" class="form-label">Comentarios</label>

<input type="text" class="form-control" id="formControlInput" name="comentarios" value="ola k asey" placeholder="Comentarios" ><br>
<input type="submit" class="form-control" id="formControlInput" placeholder="" value="Enviar">

    </form>
</div>