<div class="text-center">
    <h1 class="display-4">ASP.NET CORE</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-action="ConsultarEmpresas" asp-controller="Empresas">Consultar empresas</a>
<a asp-action="ConsultarUsuarios" asp-controller="Usuarios">Consultar postulantes</a>


@foreach (var item in ViewBag.UsuariosList)
{
    <table>
        
        <th>Usuarios</th>
        <tr><td>@item.Nombre</td></tr>
        
    </table>
}
