@using Microsoft.AspNetCore.Identity
@using EspacioNube.web.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    ApplicationUser loggedUser = await UserManager.GetUserAsync(User);

    if (await UserManager.IsInRoleAsync(loggedUser, "SuperAdmin"))
    {

        
                <div class="container-fluid">
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-action="CrearEmpresa" asp-controller="Empresas">Crear Empresa</a></button>
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-action="ConsultarEmpresas" asp-controller="Empresas">Consultar Empresas</a></button>
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-action="ConsultarPostulantes" asp-controller="Postulantes">Consultar Postulantes</a></button>
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-controller="RoleManager" asp-action="Index">Agregar/Consultar Roles</a></button>
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-controller="Postulantes" asp-action="CrearPostulante">Postularse</a></button>
            
                </div><br><br>
                <div class="container-fluid">
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-controller="Posts" asp-action="Index">Ofertas de Empleo</a></button>
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-controller="Posts" asp-action="CrearPost">Crear publicación</a></button>
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-controller="UserRoles" asp-action="Index">Roles de Usuario</a></button>
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-controller="Empresas"
                asp-action="CrearEmpresa">Registrar empresa</a></button>
                <button type="button" class="btn btn-primary"><a class="nav-link text-light" asp-controller="Postulantes"
                asp-action="CrearPostulante">Registrar postulante</a></button>
                </div>
    }

    if (await UserManager.IsInRoleAsync(loggedUser, "UserDefault"))
    {
        <th><a class="nav-link" asp-controller="Posts" asp-action="Index">Ofertas de Empleo</a></th>
    }

    if (await UserManager.IsInRoleAsync(loggedUser, "Empresa"))
    {
        <table class="table">
            <tr>
                <th><button type="button" class="btn btn-danger"><a class="nav-link">Crear Post</a></button></th>
                <th><button type="button" class="btn btn-danger"><a class="nav-link">Crear Empresa</a></button></th>
                <th><button type="button" class="btn btn-danger"><a class="nav-link">Consultar Empresas</a></button></th>
                <th><button type="button" class="btn btn-danger"><a class="nav-link">Consultar Postulantes</a></button></th>
                <th><button type="button" class="btn btn-danger"><a class="nav-link" asp-controller="Posts"
                asp-action="CrearPost">Crear publicación</a></button></th>

            </tr>
        </table>
    }

}
