

<div class="text-center">
    <h1 class="display-4"></h1>
    
</div>

<a asp-action="ConsultarPostulantes" asp-controller="Postulantes">Consultar Postulantes</a>

@* <div class="text-center">
<select onchange="buscar()">
    @foreach (var item in ViewBag.UsuariosList)
    {
        <option value="">@item.Nombre</option>
    
    }
    
</select>
</div> *@