

<div class="text-center">
    <h1 class="display-4">ASP.NET CORE</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-action="ConsultarEmpresas" asp-controller="Empresas">Consultar empresas</a>
<a asp-action="ConsultarUsuarios" asp-controller="Usuarios">Consultar usuarios</a>

@* <div class="text-center">
<select onchange="buscar()">
    @foreach (var item in ViewBag.UsuariosList)
    {
        <option value="">@item.Nombre</option>
    
    }
    
</select>
</div> *@