
<div class="btn-group-vertical">
  
<button type="button" class="btn btn-primary"><a class="nav-link text-light not" asp-action="ConsultarEmpresas" asp-controller="Empresas">Consultar empresas</a></button><br>

<button type="button" class="btn btn-primary"><a class="nav-link text-light not" asp-action="ConsultarPostulantes" asp-controller="Postulantes">Consultar Postulantes</a></button>
</div>

