<div class="col-md-4">
    <form action="@Url.Action("crearEmpresa")" method="post">
        <label for="formControlInput" class="form-label">Nombre</label>
<input type="text" class="form-control" id="formControlInput" name="nombre">
        <label for="formControlInput" class="form-label">Rubro</label>
<input type="text" class="form-control" id="formControlInput" name="rubro">
        <label for="formControlInput" class="form-label">Telefono</label>
<input type="tel" class="form-control" id="formControlInput" name="telefono">
        <label for="formControlInput" class="form-label">Email</label>
<input type="email" class="form-control" id="formControlInput" name="email">
        <label for="formControlInput" class="form-label">Sucursal</label>
<input type="text" class="form-control" id="formControlInput" name="sucursal">
        <label for="formControlInput" class="form-label">Ubicación de la Sucursal</label>
<input type="text" class="form-control" id="formControlInput" name="ubicacion" ><br>


<input type="submit" class="form-control btn btn-primary" id="formControlInput" placeholder="" value="Enviar">

    </form>
</div>