<table class="table">
    <tr>
        <th><a class="nav-link">Crear Post</a></th>
        <th><a class="nav-link">Crear Empresa</a></th>
        <th><a class="nav-link">Consultar Empresas</a></th>
        <th><a class="nav-link">Consultar Postulantes</a></th>
    </tr>
</table>